[submodule "libs/helper"]
	path = libs/helper
	url = https://github.com/Nall-chan/SymconModulHelper
[submodule ".style"]
	path = .style
	url = https://github.com/Nall-chan/StylePHP
[submodule "tests/stubs"]
	path = tests/stubs
url=https://github.com/Nall-chan/SymconStubs